.container {
  width: 100%;
}

#news-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  align-items: baseline;
}

.col-2 > .news-item >  a > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 100%;
}

.news-content {
  max-width: 100%;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.col-3 {
  width: 25%;
}

.col-3 > .news-item > a > img {
  /* Set this for last */
}

#news-section > .column > .news-item > a >img {
  max-width: 100%;
  aspect-ratio: 2/1;
}

#news-section > .column > .news-item > .news-content > h3 > a {
  max-width: 100%;
  margin: 0;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
  font-size: 16px;
  font-family: 'Stolzl';
}

#news-section > .column > .news-item > .news-content > h3 {
  margin-top: 0;
}

#news-section > .column > .news-item > .news-content > p {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: 'Stolzl';
}

#news-section > div > div > div > p:nth-child(4) {
  display: none;
}

#news-section > div.column.col-2 > div > div > p:nth-child(4) {
  display: flex;
  justify-content: center;
  text-transform: none;
}