.container {
  width: 100%;
}

#news-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  align-items: baseline;
}

.col-2 > .news-item >  a > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 100%;
  
}

.news-content {
  max-width: 100%;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.col-3 {
  width: 25%;
}

img {
  max-width: 100%;
  aspect-ratio: 2/1;
}

h3 {
  max-width: 300px;
  margin: 0;
}

p {
  display: none;
}

a {
  color: black;
  font-size: 16px;
}